aside{
    width: 250px;
    height: 660px;
    background-image: url('img/laptop_ad.jpg');
}
@media (max-width:900px)  {
    aside{
        width: 660px;
        height: 250px;
        background-image: url('img/tablet_ad.jpg');
    }
}
@media (max-width:660px)  {
    aside{
        width: 250px;
        height: 250px;
        background-image: url('img/mobile_ad.jpg');
    }
}
