body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
    margin: 0;
    padding: 0;
    color: white;
}
.cookie{
    color: crimson;
}
h1{
    color: greenyellow;
}
nav{
    background-color: white;
    border-bottom: white thin solid;
    height: 50px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav span, nav div{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 1em;
}
main{
    padding: 1em;
    
}
.wrap{
    display: flex
}
#vpn_ad{
    float: left;
}